{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": "> 0.25%, not dead"
      }
    ],
    "airbnb"
  ],
  "plugins": ["@emotion", "@babel/plugin-syntax-dynamic-import"]
}